{% extends "base.html" %}
{% load static %}

{% block search %}

    <div align="center" style="padding-top: 100px">
        <img align="center" src="{% static 'img/logo_big.jpg' %}" width="100" height="100" alt="">
        <br>
        <h1>카트라이더 전적 검색</h1>
    </div>

    <div style="padding: 50px 100px 20px 100px">
        <form class="d-flex" action="{% url 'detail' %}">
            <input class="form-control me-2" type="text" name="nickname" placeholder="라이더명을 입력해주세요!" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <br>
    </div>

    <div style="padding: 0px 99px 0px 99px">
        <div class="card">
          <h5 class="card-header">최근 검색</h5>
          <div class="card-body">
              {% for name in recent_search %}
                  <a href="detail/?nickname={{ name }}"><h3>{{ name }}</h3></a>
              {% endfor %}
          </div>
        </div>
    </div>

    {# TODO: 여기에 div 넣어놓고 hide인데 버튼 누르면 ajax로 비동기 통신한 후 보여주기 #}

    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}